<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MsgSql">




	<resultMap type="dto.Message" id="MessageMap">
		<result property="msgSeq" column="MSG_SEQ" />
		<result property="msgTitle" column="MSG_TITLE" />
		<result property="msgContent" column="MSG_CONTENT" />
		<result property="sender" column="SENDER" />
		<result property="receiver" column="RECEIVER" />
		<result property="receiverChk" column="RECEIVER_CHK" />
		<result property="senderDelChk" column="SENDER_DEL_CHK" />
		<result property="receiverDelChk" column="RECEIVER_DEL_CHK" />
		<result property="sendDate" column="SEND_DATE" />
	</resultMap>


	<insert id="sendMsg" parameterType="Map">
	<selectKey keyProperty="id" resultType="int" order="BEFORE">
		select MESSAGE_TB_SEQ.NEXTVAL from dual
	</selectKey>
		insert into MESSAGE_TB
		values
		( #{id}, #{msgTitle}, #{msgContent}, #{sender}, #{receiver}, 0,
		0, 0, SYSDATE )
	</insert>
	
	<select id="countAllMessages" parameterType="HashMap">
		SELECT COUNT(*) FROM MESSAGE_TB where #{side} = #{nickName} RECEIVER_DEL_CHK = 0
	</select>
	
	

	<select id="selectSent" parameterType="PageSelector"
		resultMap="MessageMap">

		<![CDATA[ select B.rnum, B.msg_seq, B.msg_title, B.msg_content, B.sender, B.receiver,B.receiver_chk,B.sender_del_chk, 
			B.receiver_del_chk,B.send_date FROM( SELECT ROWNUM as rnum, A.msg_seq, A.msg_title, A.msg_content, 
			A.sender, A.receiver, A.receiver_chk, A.sender_del_chk,A.receiver_del_chk,A.send_date 
			FROM ( select msg_seq, msg_title, msg_content,sender,receiver,receiver_chk, sender_del_chk,receiver_del_chk,send_date 
			from MESSAGE_TB WHERE SENDER = #{boardName} ORDER BY SEND_DATE DESC) A where ROWNUM 
			<= #{endNum} ) B where B.rnum >= #{startNum} ]]>
	</select>

	<select id="selectReceived" parameterType="PageSelector"
		resultMap="MessageMap">
		<![CDATA[ select B.rnum, B.msg_seq, B.msg_title, B.msg_content, B.sender, B.receiver,B.receiver_chk,B.sender_del_chk, 
			B.receiver_del_chk,B.send_date FROM( SELECT ROWNUM as rnum, A.msg_seq, A.msg_title, A.msg_content, 
			A.sender, A.receiver, A.receiver_chk, A.sender_del_chk,A.receiver_del_chk,A.send_date 
			FROM ( select msg_seq, msg_title, msg_content,sender,receiver,receiver_chk, sender_del_chk,receiver_del_chk,send_date 
			from MESSAGE_TB WHERE receiver = #{boardName} ORDER BY SEND_DATE DESC) A where 
			ROWNUM <= #{endNum} ) B where B.rnum >= #{startNum} ]]>
	</select>


	<select id="selectNeverChk" parameterType="HashMap" resultType="int">
	select count(*) as a from(select * from MESSAGE_TB where RECEIVER =#{nickName} ) where  receiver_chk =0 
		
	</select>

<update id="msgChked" parameterType="HashMap">
update message_tb set receiver_chk=1 where msg_seq = #{msgSeq}
</update>


</mapper>