<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsrSql">


	<resultMap type="dto.User" id="UsrMap">
		<result property="nickName" column="NICKNAME" />
		<result property="email" column="EMAIL" />
		<result property="address1" column="ADDRESS1" />
		<result property="address2" column="ADDRESS2" />
		<result property="zipCode" column="ZIPCODE" />
		<result property="sns" column="SNS" />
		<result property="snsId" column="SNS_ID" />
		<result property="homeLat" column="HOME_LAT" />
		<result property="homeLon" column="HOME_LON" />
		<result property="fromBuyer" column="FROMBUYER" />
		<result property="fromSeller" column="FROMSELLER" />
		<result property="buyCnt" column="BUYCNT" />
		<result property="sellCnt" column="SELLCNT" />

	</resultMap>

	<select id="selectAll" resultMap="UsrMap">
		SELECT nickname, email,  address1, address2, zipcode, sns, sns_id,home_lat, home_lon,
		frombuyer,fromseller,buycnt,sellcnt
		FROM USER_TB
		ORDER BY
		USR_SEQ
		DESC
	</select>

	<select id="selectOneByNick" parameterType="String" resultType="User">
		SELECT nickname, email, address1, address2, zipcode,  sns, sns_id, home_lat, home_lon,
		frombuyer,fromseller,buycnt,sellcnt
		FROM USER_TB
		WHERE USR_SEQ = #{nickname}
	</select>
	
	<select id="selectOne" parameterType="User" resultMap="UsrMap">
	<!-- resultmap이 아닌 resulttype 으로 (dto로)쓰면 list로 받아올 필요 없이 객체로 받을 수 있다. -->
		SELECT nickname, email,address1, address2, zipcode, sns, sns_id,  home_lat, home_lon,
		 frombuyer,fromseller,buycnt,sellcnt
		FROM USER_TB
		WHERE SNS = #{sns}
		and SNS_ID = #{snsId}
	</select>

	<insert id="insertUsr" parameterType="User">
		insert into USER_TB
		values (
		#{nickName}, #{email},  #{address1}, #{address2},#{zipCode},#{sns}, #{snsId},
		#{homeLat}, #{homeLon},TO_CHAR(0),TO_CHAR(0),0,0)
	</insert>


</mapper>